@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
  }
}

@layer components {
  .brand-gradient {
    background: linear-gradient(135deg, #D0D8C3 0%, #ffffff 100%);
  }
  
  .brand-gradient-dark {
    background: linear-gradient(135deg, #1f2937 0%, #014421 100%);
  }
}